Repository kaito-tokyo/Recoreon-iOS: changes, and which Codecov flags are due for each by the changed paths.
All: RecoreonCommon, Recoreon UI, Recoreon Service, Recoreon Extension

Update .swiftlint.yml
  .swiftlint.yml
Due: none

Fix
  FragmentedRecordWriterTests.xctestplan
  Recoreon/Preview Content/PreviewRecoreonServices.swift
Due: none

Fix preview
  FragmentedRecordWriter/MasterPlaylistWriter.swift
  Recoreon.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Recoreon/Models/ScreenRecordEntry.swift
  Recoreon/Preview Content/Recoreon20240724T063654/Recoreon20240724T063654-app.m3u8
  Recoreon/Preview Content/Recoreon20240724T063654/Recoreon20240724T063654.m3u8
  Recoreon/Preview Content/Recoreon20240724T063710/Recoreon20240724T063710.m3u8
  Recoreon/UI/ScreenRecordView/ScreenRecordPreviewView.swift
  RecoreonCommon/RecoreonPathService.swift
  project.yml
Due: RecoreonCommon, Recoreon UI, Recoreon Service

Format
  Recoreon/UI/ScreenRecordView/ScreenRecordPreviewView.swift
Due: Recoreon UI

Fix
  .github/scripts/check-swift-format.sh
  Packages/HLSServer/.gitignore
  Packages/HLSServer/Package.swift
  Packages/HLSServer/Sources/HLSServer/HLSServer.swift
  Packages/HLSServer/Sources/HLSServer/HTTPHandler.swift
  Packages/HLSServer/Tests/HLSServerTests/HLSServerTests.swift
  Recoreon.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  project.yml
Due: none

Fix
  Packages/HLSServer/Tests/HLSServerTests/HLSServerTests.swift
Due: none

Fix
  Packages/HLSServer/Sources/HLSServer/HLSServer.swift
  Recoreon/UI/ScreenRecordView/ScreenRecordPreviewView.swift
Due: Recoreon UI

Fix
  Recoreon/UI/ScreenRecordView/ScreenRecordPreviewView.swift
Due: Recoreon UI

Delete swiftlint.yaml
  .github/workflows/swiftlint.yaml
Due: none

Fix preview (#127)
  .github/scripts/check-swift-format.sh
  .github/workflows/swiftlint.yaml
  FragmentedRecordWriter/MasterPlaylistWriter.swift
  Packages/HLSServer/.gitignore
  Packages/HLSServer/Package.swift
  Packages/HLSServer/Sources/HLSServer/HLSServer.swift
  Packages/HLSServer/Sources/HLSServer/HTTPHandler.swift
  Packages/HLSServer/Tests/HLSServerTests/HLSServerTests.swift
  Recoreon.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Recoreon/Models/ScreenRecordEntry.swift
  Recoreon/Preview Content/Recoreon20240724T063654/Recoreon20240724T063654-app.m3u8
  Recoreon/Preview Content/Recoreon20240724T063654/Recoreon20240724T063654.m3u8
  Recoreon/Preview Content/Recoreon20240724T063710/Recoreon20240724T063710.m3u8
  Recoreon/UI/ScreenRecordView/ScreenRecordPreviewView.swift
  RecoreonCommon/RecoreonPathService.swift
  project.yml
Due: RecoreonCommon, Recoreon UI, Recoreon Service

Fix
  FragmentedRecordWriter/FragmentedAudioWriter.swift
  FragmentedRecordWriter/FragmentedVideoWriter.swift
  RecoreonBroadcastUploadExtension/SampleHandler.swift
Due: none

Fix (#128)
  FragmentedRecordWriter/FragmentedAudioWriter.swift
  FragmentedRecordWriter/FragmentedVideoWriter.swift
  RecoreonBroadcastUploadExtension/SampleHandler.swift
Due: none

Update RealtimeAudioTranscoder.swift
  FragmentedRecordWriter/RealtimeAudioTranscoder.swift
Due: none

Magiccookie (#129)
  FragmentedRecordWriter/RealtimeAudioTranscoder.swift
Due: none

Fix
  FragmentedRecordWriter/AudioResampler.swift
  FragmentedRecordWriter/FragmentedAudioWriter.swift
  FragmentedRecordWriter/FragmentedRecordWriter-Bridging-Header.h
Due: none

Fix
  FragmentedRecordWriter/FragmentedRecordWriter-Bridging-Header.h
Due: none

Fix
  FragmentedRecordWriter/AudioResampler.swift
  FragmentedRecordWriter/FragmentedAudioWriter.swift
  FragmentedRecordWriter/RealtimeAudioTranscoder.swift
  FragmentedRecordWriterTests/AudioResamplerTests.swift
  FragmentedRecordWriterTests/FragmentedAudioWriterTests.swift
  Recoreon.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  RecoreonBroadcastUploadExtension/SampleHandler.swift
  project.yml
Due: none

Update SampleHandler.swift
  RecoreonBroadcastUploadExtension/SampleHandler.swift
Due: none

Fix
  FragmentedRecordWriter/AudioResampler.swift
  FragmentedRecordWriter/FragmentedAudioWriter.swift
  RecoreonBroadcastUploadExtension/SampleHandler.swift
Due: none

Format
  FragmentedRecordWriter/AudioResampler.swift
  FragmentedRecordWriter/RealtimeAudioTranscoder.swift
  RecoreonBroadcastUploadExtension/SampleHandler.swift
Due: none

Faster 441to480 (#130)
  FragmentedRecordWriter/AudioResampler.swift
  FragmentedRecordWriter/FragmentedAudioWriter.swift
  FragmentedRecordWriter/FragmentedRecordWriter-Bridging-Header.h
  FragmentedRecordWriter/RealtimeAudioTranscoder.swift
  FragmentedRecordWriterTests/AudioResamplerTests.swift
  FragmentedRecordWriterTests/FragmentedAudioWriterTests.swift
  Recoreon.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  RecoreonBroadcastUploadExtension/SampleHandler.swift
  project.yml
Due: none

Fix
  FragmentedRecordWriter/FragmentedVideoWriter.swift
  RecoreonBroadcastUploadExtension/SampleHandler.swift
Due: none

program date time (#131)
  FragmentedRecordWriter/FragmentedVideoWriter.swift
  RecoreonBroadcastUploadExtension/SampleHandler.swift
Due: none

Update SampleHandler.swift (#132)
  RecoreonBroadcastUploadExtension/SampleHandler.swift
Due: none

Fix desync
  RecoreonBroadcastUploadExtension/SampleHandler.swift
Due: none

Format
  RecoreonBroadcastUploadExtension/SampleHandler.swift
Due: none

Fix desync (#133)
  RecoreonBroadcastUploadExtension/SampleHandler.swift
Due: none

Video frame reception validation
  FragmentedRecordWriter/FragmentedAudioWriter.swift
  FragmentedRecordWriter/FragmentedVideoWriter.swift
  RecoreonBroadcastUploadExtension/SampleHandler.swift
Due: none

Fix gap
  RecoreonBroadcastUploadExtension/SampleHandler.swift
Due: none

Update project.yml
  project.yml
Due: none

Update project.yml (#135)
  project.yml
Due: none

Replace app group and extension IDs with tokyo.kaito
  Recoreon/Recoreon.entitlements
  Recoreon/UI/RecoreonBroadcastPickerRepresentable.swift
  RecoreonBroadcastUploadExtension/RecoreonBroadcastUploadExtension.entitlements
  RecoreonBroadcastUploadExtension/SampleHandler.swift
  RecoreonCommon/RecoreonCommon.swift
Due: RecoreonCommon, Recoreon UI

Replace app group and extension IDs with tokyo.kaito (#136)
  Recoreon/Recoreon.entitlements
  Recoreon/UI/RecoreonBroadcastPickerRepresentable.swift
  RecoreonBroadcastUploadExtension/RecoreonBroadcastUploadExtension.entitlements
  RecoreonBroadcastUploadExtension/SampleHandler.swift
  RecoreonCommon/RecoreonCommon.swift
Due: RecoreonCommon, Recoreon UI

Remove FFmpegKit and ScreenRecordWriter
  Recoreon.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  project.yml
Due: none

Remove encoding/FFmpeg features and UI
  Recoreon/Localizable.xcstrings
  Recoreon/Preview Content/PreviewEncodeService.swift
  Recoreon/Preview Content/PreviewRecoreonServices.swift
  Recoreon/Recoreon-Bridging-Header.h
  Recoreon/Services/DefaultEncodeService.swift
  Recoreon/Services/DefaultRecoreonServices.swift
  Recoreon/Services/DefaultScreenRecordService.swift
  Recoreon/Services/EncodeService.swift
  Recoreon/Services/RecoreonServices.swift
  Recoreon/Services/ScreenRecordService.swift
  Recoreon/UI/ScreenRecordView/ScreenRecordDetailView.swift
  Recoreon/UI/ScreenRecordView/ScreenRecordEncoderView.swift
  RecoreonBroadcastUploadExtension/RecoreonBroadcastUploadExtension-Bridging-Header.h
  RecoreonUITests.xctestplan
Due: Recoreon UI, Recoreon Service

Remove ffmpeg (#137)
  Recoreon.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Recoreon/Localizable.xcstrings
  Recoreon/Preview Content/PreviewEncodeService.swift
  Recoreon/Preview Content/PreviewRecoreonServices.swift
  Recoreon/Recoreon-Bridging-Header.h
  Recoreon/Services/DefaultEncodeService.swift
  Recoreon/Services/DefaultRecoreonServices.swift
  Recoreon/Services/DefaultScreenRecordService.swift
  Recoreon/Services/EncodeService.swift
  Recoreon/Services/RecoreonServices.swift
  Recoreon/Services/ScreenRecordService.swift
  Recoreon/UI/ScreenRecordView/ScreenRecordDetailView.swift
  Recoreon/UI/ScreenRecordView/ScreenRecordEncoderView.swift
  RecoreonBroadcastUploadExtension/RecoreonBroadcastUploadExtension-Bridging-Header.h
  RecoreonUITests.xctestplan
  project.yml
Due: Recoreon UI, Recoreon Service

Path conditions:
  RecoreonCommon: any of: RecoreonCommon/**
  Recoreon UI: any of: Recoreon/UI/**
  Recoreon Service: any of: Recoreon/Models/**, Recoreon/Services/**, Recoreon/Stores/**
  Recoreon Extension: any of: RecoreonBroadcastExtension/**
